{% if include.css.sri %}
  <link href="{{ include.css.href }}" rel="stylesheet" integrity="{{ include.css.sri }}" crossorigin="anonymous">
{% elsif include.css.href %}
  <link rel="stylesheet" href="{{ include.css.href }}">
{% else %}
  <link rel="stylesheet" href="{{ include.css }}">
{% endif %}

<!-- Prism theme + optional plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css">